*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%;
    background-image: url(Images/Background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-decoration: darkred;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo{
color: #ff7200;
font-size: 35px;
font-family: Arial;
padding-left: 20px;
float: left;
padding-top: 10px;
}

 ul li a{
    text-decoration: rgb(138, 21, 21);
    font-family: Arial;
    font-weight: bold;
   
}